@using CK.Taghelpers.ViewComponents
@model DynamicEditorViewModel

@functions {
    /// <summary>
    /// Renders validation attributes as an HTML attribute string.
    /// </summary>
    private static string RenderValidationAttributes(Dictionary<string, string> attrs)
    {
        if (attrs.Count == 0) return string.Empty;
        return string.Join(" ", attrs.Select(a => $"{a.Key}=\"{a.Value}\""));
    }
}

<dialog id="@Model.DialogId" class="dynamic-editor-dialog" data-event-name="@Model.EventName">
    <form method="dialog" id="@(Model.DialogId)-form" novalidate>
        <h3>Edit @Model.EventName</h3>

        <div id="@(Model.DialogId)-validation-summary" class="validation-summary" style="display: none;"></div>

        <div class="editor-fields">
            @foreach (var field in Model.Fields)
            {
                var validationAttrString = RenderValidationAttributes(field.ValidationAttributes);

                <div class="form-group">
                    <label for="@field.InputId">
                        @field.DisplayName
                        @if (field.IsRequired)
                        {
                            <span class="required-indicator">*</span>
                        }
                    </label>

                    @switch (field.InputType)
                    {
                        case FieldInputType.Checkbox:
                            <input type="checkbox"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   checked="@(field.Value as bool? == true)" />
                            break;

                        case FieldInputType.DateTime:
                            <input type="datetime-local"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   value="@field.FormattedValue"
                                   @Html.Raw(validationAttrString) />
                            break;

                        case FieldInputType.Date:
                            <input type="date"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   value="@field.FormattedValue"
                                   @Html.Raw(validationAttrString) />
                            break;

                        case FieldInputType.Time:
                            <input type="time"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   value="@field.FormattedValue"
                                   @Html.Raw(validationAttrString) />
                            break;

                        case FieldInputType.MultiSelect:
                            <select name="@field.PropertyName"
                                    id="@field.InputId"
                                    class="form-control"
                                    multiple
                                    data-collection="true"
                                    @Html.Raw(validationAttrString)>
                                @foreach (var option in field.Options)
                                {
                                    <option value="@option.Value" selected="@option.IsSelected">
                                        @option.Text
                                    </option>
                                }
                            </select>
                            break;

                        case FieldInputType.Select:
                            <select name="@field.PropertyName"
                                    id="@field.InputId"
                                    class="form-control"
                                    @Html.Raw(validationAttrString)>
                                @foreach (var option in field.Options)
                                {
                                    <option value="@option.Value" selected="@option.IsSelected">
                                        @option.Text
                                    </option>
                                }
                            </select>
                            break;

                        case FieldInputType.Number:
                            <input type="number"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   value="@field.FormattedValue"
                                   @Html.Raw(validationAttrString) />
                            break;

                        case FieldInputType.Textarea:
                            <textarea name="@field.PropertyName"
                                      id="@field.InputId"
                                      class="form-control"
                                      @Html.Raw(validationAttrString)>@field.FormattedValue</textarea>
                            break;

                        case FieldInputType.Email:
                            <input type="email"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   value="@field.FormattedValue"
                                   @Html.Raw(validationAttrString) />
                            break;

                        case FieldInputType.Password:
                            <input type="password"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   value="@field.FormattedValue"
                                   @Html.Raw(validationAttrString) />
                            break;

                        case FieldInputType.Tel:
                            <input type="tel"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   value="@field.FormattedValue"
                                   @Html.Raw(validationAttrString) />
                            break;

                        case FieldInputType.Url:
                            <input type="url"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   value="@field.FormattedValue"
                                   @Html.Raw(validationAttrString) />
                            break;

                        default:
                            <input type="text"
                                   name="@field.PropertyName"
                                   id="@field.InputId"
                                   class="form-control"
                                   value="@field.FormattedValue"
                                   @Html.Raw(validationAttrString) />
                            break;
                    }

                    <span class="field-validation-error" data-valmsg-for="@field.PropertyName"></span>
                </div>
            }
        </div>

        <div class="actions">
            <button type="button" id="@(Model.DialogId)-cancel">Cancel</button>
            <button type="button" id="@(Model.DialogId)-confirm">Confirm</button>
        </div>
    </form>
</dialog>

<script src="~/_content/CK.Taghelpers/js/dynamicEditor.js"></script>
<script>
    // Initialize this specific dialog instance
    if (window.DynamicEditor) {
        DynamicEditor.init('@Model.DialogId');
    }
</script>
